body {
  margin: 0;
  padding: 0;
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
header {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  text-align: center;
}
nav ul {
  background-color: blanchedalmond;
  list-style: none;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
}
nav ul li {
  margin: 0 10px;
}
nav ul li a {
  color: #8e88df;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}
main {
  position: relative;
  color: rgb(252, 196, 225);
  padding: 10px;
  text-align: center;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.container {
  max-height: 300px;
  max-width: 300px;
  margin: 50px auto;
  padding: 50px;
  background-color: #ec9cdc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container h1 {
  text-align: center;
  color: #333;
}
.container form {
  margin-top: 20px;
}
.container input[type="text"],
.container input[type="email"],
.container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.container input[type="text"]:focus,
.container input[type="email"]:focus,
.container input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.container button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.container button[type="submit"]:hover {
  background-color: #0069d9;
}
.container p {
  text-align: center;
  color: #666;
}
.container p a {
  color: #007bff;
  text-decoration: none;
}